<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/default_layout}"
      layout:fragment="Content">
<body>
<div class="container mt-3 w-60">
	  <h3>도서조회/수정</h3>
	  <table class="table table-hover">
	    <thead>
	      <tr class="text-center">
	        <th>도서번호</th>
	        <th>도서명</th>
	        <th>표지</th>
	        <th>출판일자</th>
	        <th>금액</th>
	        <th>출판사</th>
	        <th>도서소개</th>
	      </tr>
	    </thead>
	    <tbody>
		  <th:block th:each="book : ${bookList}">
		      <tr>
		        <td class="text-center">[[ ${book.bookNo} ]]</td>
		        <td class="text-start">[[ ${book.bookName} ]]</td>
		        <td class="text-center"><img th:src="@{/images/{bookImg}(bookImg=${book.bookCoverimg})}" style="width:50px;"></td>
		        <td class="text-center">[[ ${#dates.format(book.bookDate, 'yyyy/MM/dd')} ]]</td>
		        <td class="text-end">[[ ${#numbers.formatInteger(book.bookPrice, 3, 'COMMA')} ]]</td> <!-- numbers : 정수에 대한 포멧 담당./ comma: 라고 쓰면 콤마형태 나타남. -->
		        <td class="text-start">[[ ${book.bookPublisher} ]]</td> 
		        <td class="text-start">[[ ${book.bookInfo} ]]</td>
		      </tr>
		  </th:block>
	    </tbody>
	  </table>
	</div>
</body>
</html>